/* This is Common Styles Section  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* navbar styles starts here  */


.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.logo-title {
    text-align: center;
    font-size: 2.8125rem;
    font-weight: 700;
}

.logo-title span {
    color: #ff42a5;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
    padding: 37px 240px;
}

.nav-container {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.nav-container li {
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}

.nav-item-3 {
    padding: 17px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* navbar styles end here  */

/* banner styles starts here */
.banner-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 240px 0 0;
}

.banner-content {
    width: 50%;
    text-align: left;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat; 
    padding:148px 0 100px 240px ;
}
.banner-title-1 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title-2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 5.9375rem;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-description{
    list-style: none;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 17px;
    text-align: left;
    padding: 25px 0 40px 0;
}

.banner-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}
.btn-1{
    border-radius: 48px;
    border: none;
    background:  #FF42A5;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    
}

.btn-2 {
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    display: inline-flex;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;

}

.banner-img img {
    width: 100%;
    padding-top: 30px;
}
/* banner styles end here */


/* gamer styles starts here */

.gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px 240px 0 240px;
}
.gamer-img {
    width: 60%;
}
.gamer-img img {
    width: 100%;
}
.gamer-content {
    width: 40%;
    text-align: right;
}
.gamer-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 3rem;
    font-weight: 700;
}
.gamer-description{
    margin: 32px 0;
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}
.btn-3{
    border-radius: 48px;
    border: none;
    background: #FF42A5;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
}
.gamer-info{
    margin-top: 24px;
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 45px;
}
.gamer-info span {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
}
/* gamer styles end here */

/* online games styles starts here */

.online-games-container {
    padding: 120px 240px 0 240px;
    text-align: center;
}
.online-games-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}
.online-games-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}
.online-games-description{
    margin: 5px 0 48px 0;
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.card-img {
    width: 100%;
    position: relative;
    display: inline-block;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.play-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent white;
}
.card-img:hover .play-button {
    opacity: 1;
}
.card-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: left;
}

/* online games styles end here */

/* Play instantly styles starts here */

.play-instantly-container {
    padding: 0 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.play-instantly-content {
    width: 50%;
    text-align: right;
}

.play-instantly-title {
    color: #0B0223;
font-size: 3rem;
font-weight: 700;
line-height: 60px;
margin-bottom: 24px;
}
.play-instantly-title span{
    color:  #F948B2;

}

.play-instantly-description {
    color: #534C64;
text-align: right;
font-size: 1.125rem;
font-weight: 400;
line-height: 30px;
}

.play-instantly-img {
    width: 50%;
}

.play-instantly-img .img-1 {
    width: 80%;
    position: relative;
    top: 85px;
    right: -20%;

}

.play-instantly-img .img-2 {
    width: 40%;
    position: relative;
    top: -85px;
    left: 0px;
}

/* play instantly styles end here */

/* veraity section styles starts here  */

.variety-container {
    padding: 120px 240px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
     justify-content: center;
    align-items: center; 
    /* flex-wrap: wrap; */
    gap: 27px;
}

.btn-variety {
    padding: 10px;
    color: #0B0223;
    background: #FFF;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btn-variety:hover {
    border: 2px solid #FF42A5;
    color: #FF42A5;
    border-radius: 50px;

}

