/* This is Common Styles Section  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* navbar styles starts here  */


.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.logo-title {
    text-align: center;
    font-size: 2.8125rem;
    font-weight: 700;
}

.logo-title span {
    color: #ff42a5;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
    padding: 37px 240px;
}

.nav-container {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.nav-container li {
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}

.nav-item-3 {
    padding: 17px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* navbar styles end here  */
